---
# file: roles/openaz-installed/handlers/main.yml

- name: ... reconfigure manifold.
  shell: "/usr/bin/manifold-ctl reconfigure --accept-license"

- name: ... add manifold admin.
  shell: "/usr/bin/manifold-api manifold:user:create:admin[\
             \"{{ manifold_admin_email }}\",\
             \"{{ manifold_admin_password }}\",\
             \"{{ manifold_admin_fname }}\",\
             \"{{ manifold_admin_lname }}\"\
             ]"
